body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url("bluebg.jpg");
    background-repeat: repeat;
    background-color: rgb(172, 172, 249); */
    background: url(bluebg.jpg) repeat rgb(122, 122, 246);
    color: white;
}

.decorative {
    min-height: 80px;
    /*background-image: url(flower.png);
    background-repeat: no-repeat;
    background-position: right;*/
    background: url(flower.png) no-repeat top right;
}

.creeper {
    width: 500px;
    height: 800px;
}

.mylist {
    /*list-style-type: none;*/
    list-style-image: url(steve.png);
}