body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque ;
}

header {
    background-color: aliceblue;
    padding: 10px;
}
nav {
    background-color: antiquewhite;
    color: black;
}



.parent1 {
    display: flex;
    padding: 20px;
}

.maincontent {
    flex: 3;
}

.sidebar {
    flex: 1;
    margin-left: 20px;
    background-color: brown;
    color: whitesmoke;
    padding: 20px;

}

table {
    width: 100%;
    background-color: cadetblue;
    border: 5px solid;
    border-collapse: collapse;
    text-align: center;
    margin: auto;

}

caption {
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: underline;
}

thead {
    background-color: blue;
    color: aliceblue;
}
tbody tr:nth-of-type(odd) {
    background-color: azure;

}

tr {
    height: 60px;
}