body {
    font-family:Arial, Helvetica, sans-serif;
}

.castle {
    width: 200px;
    overflow: hidden;
    border: thin solid #000;
    float: left;
}

.castle img {
    width: 100%;
}

.clear {
    clear: both;
}

.floatleft {
    float: left;
}

.place {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.relativep {
    position: relative;
    top: -50px;
    left: 50px;
}