body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightcoral;
    padding: 50px 100px 150px 11px; /*top right bottom left*/
    border: 10px solid black;

}

main {
    background-color: burlywood;
    border: 10px dotted black
}

footer {
    background-color: lightblue;
    /*border-width: 10px;
    border-color: black;
    border-style: dotted;*/
    border: 10px solid black;

}

nav {
    background-color: beige;
    
}

.mainpicture {
    background-color: brown;
    width: 300px;
    margin: 50px 50px;
}

.mainpicture img {
    width: 300px;
}