body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(backgroundgreen.jpg) repeat lightgreen;
    text-size-adjust: initial;
}

nav a {
    color: black;
}

.current {
    color: blue;
    text-decoration: none;

}

.decorative {
    min-height: 200px;
    /*background-image: url(flower.png);
    background-repeat: no-repeat;
    background-position: right;*/
    background: url(mexico.jpg) no-repeat top right;
}

.mylist {
    /*list-style-type: none;*/
    list-style-image: url(sombrero.png);
}

.cdmx {
    width: 500px;
}
