body {
    font-family: Arial, Helvetica, sans-serif;
    color: #07010195;
}

main p {
    color: cadetblue;
    font-size: 10pt;
}

#second {
    color: #FF959595;
}

.larger {
    font-size: 15pt;
}

.purple {
    color: rgb(139, 56, 139);
}

.separate {
    font-size: 40px;
    font-family: fantasy;
}

.bolder {
    font-weight: bold;
    color:blue;
}